<section class="bg-indigo-600 text-white py-48 px-6 text-center relative" [style.background]="'var(--primary)'"
    style="color:white;">
    <div class="max-w-3xl mx-auto">
        <h2 class="text-3xl font-bold mb-6">Oi, eu sou o Douglas</h2>
        <p class="text-lg opacity-90 leading-relaxed">Sou desenvolvedor Full Stack apaixonado por tecnologia e por
            transformar ideias em soluções reais. Tenho
            experiência no desenvolvimento de aplicações web modernas, atuando tanto no front-end quanto no back-end,
            sempre com foco em performance, escalabilidade e qualidade de código. Busco sempre aplicar boas práticas de
            engenharia de software, como arquitetura limpa, testes automatizados e organização de código.
            <br><br>
            Sou movido por desafios e aprendizado constante, sempre buscando evoluir tecnicamente
            e entregar soluções que realmente gerem valor para usuários e negócios.
        </p>
    </div>
</section>